*{
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
}
nav{
    background-color: indianred;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 40px;
    z-index: 1;
}
nav ul{
    display: flex;
}
nav ul li a{
    justify-content: space-evenly;
    color: azure;
    text-decoration: none;
    margin: 10px;
    padding-bottom: 20px;
}
video{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 40%;
    left: 40%;
}
h1{
    color:darkorange;
    text-shadow: 4px 5px 6px chartreuse;
}
h1:hover{
    color: darkred;
}
#home{
    display: flex;
    flex-direction: column;
    height: 900px;

}
span{
    color: red;
}
#home::before{
    content: "";
    background-image: url(https://img.freepik.com/free-photo/handsome-bearded-male-model-orange-sweater-looking-confident-smiling-cross-arms-chest-stan_1258-172620.jpg);
    height: 900px;
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;

}
.main{
    border: 2px ridge crimson;
    padding: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 800px;
    right:700px ;
    box-shadow: 4px 5px cornflowerblue;
}
.pic{
    display: flex;  
}
.pic img{
    width: 400px;
}
h3{
    color: brown;
    text-align: center;
    font-weight: bold;
    text-shadow: 4px 5px 6px royalblue;
    margin: 5px;
}
.pic p{
    text-align: justify;
    margin: 30px;
}
.pic h4{
   color: coral; 
   font-style: italic;
   text-align: center;
}
i{
    margin: 10px;
}
.gallery{
    justify-content: space-around;
    box-shadow: 3px 4px 5px 8px cornflowerblue;
}
.gallery img{
    width: 400px;
    height: 200px;
    margin: 30px;
    margin-bottom: 10px;

}
.gallery img:hover{
    box-shadow:3px 4px 5px 8px cornflowerblue ;
}
.row{
    display: flex;
}
.box{
    width: 420px;
    height: 550px;
    border: 2px inset coral;
    margin: 20px;
background: linear-gradient(to top, rgb(26, 101, 108)50%,rgb(237, 233, 228)50%);
background-size: 100% 200%;
transition: all 0.5s;
}

.box:hover{
    background-position: left bottom;
    border: 4px ridge darkcyan;
    box-shadow:4px 5px 6px cornflowerblue ;
}
.box img{
    width:100% ;
    border-radius: 30px;
}
.box h4{
    color: lightcoral;
    text-align: center;
    text-shadow: 4px 5px 6px cornflowerblue;
}
.box p{
    text-align:justify ;
    margin: 20px;
}
form{
    width: 500px;
    margin-left: 500px;
}
.input{
    width: 100%;
    margin: 10px;
}
button{
    color: aquamarine;
    background-color: black;
}
.cv{
    background-color: black;
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    margin-left: 50%;
}

